@import './rem-calc.scss';

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: rem-calc(20) 0;
    border-radius: rem-calc(10);

    text-decoration: none;

    &_primary {
        color: var(--blanco);
        background: var(--primary-color);
    }

    &_secondary {
        color: var(--blanco);
        background: var(--secondary-color);
    }

    // Responsividad para pantallas más pequeñas
    @media (max-width: 576px) {
        padding: rem-calc(10) 0; // Reducir padding en pantallas pequeñas
        border-radius: rem-calc(5);
    }
}