@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/rem-calc.scss';
@import './config-scss/btn.scss';
@import './config-scss/animation.scss';

html {
	font-family: 'Roboto', sans-serif;
	background: var(--primary-color);
}

main {
	width: 100%;
	max-width: rem-calc(600);
	box-sizing: border-box;
	margin: 0 auto;

	@media (max-width: 768px) { // Para tablets y teléfonos grandes
		width: rem-calc(500);
	  }
	
	  @media (max-width: 576px) { // Para teléfonos móviles más pequeños
		width: 90%; // O usa rem-calc para otro valor si prefieres
	  }
}